:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.game-list {
  margin-top: 0;
  .game-list__element {
    line-height: 30px;
    .game-list__item {
      color: #e71313;
      font-size: 18px;
      text-decoration: none;
      &:hover {
        color:darken($color: #e71313, $amount: 15);
        text-decoration: underline;
      }
    }
  }
}

// RWD
@import "./../../../rwd.scss";
