:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.game-list {
  margin-top: 0;
  .game-list__item {
    color: darkblue;
    font-weight: 600;
    font-size: 20px;
    &:hover {
      color: red;
    }
  }
}

// RWD
@import './../../../rwd.scss';