<form [formGroup]="formGroup" class="game-form" (ngSubmit)="submitClick()">

  <label class="game-form__label">
    <span class="game-form__title">Title</span>
    <input class="game-form__input" type="text" formControlName="title">
  </label>
  <label class="game-form__label">
    <span class="game-form__title">Author</span>
    <input class="game-form__input" type="text" formControlName="author">
  </label>
  <label class="game-form__label">
    <span class="game-form__title">Email</span>
    <input class="game-form__input" type="text" formControlName="email">
  </label>
  <label class="game-form__label">
    <span class="game-form__title">Image</span>
    <input class="game-form__input" type="text" formControlName="previewImageUrl">
  </label>
  <label class="game-form__label">
    <span class="game-form__title"><a [href]="formGroup.get('itemUrl')?.value" target="_blank">Link</a>&nbsp;</span>
    <input class="game-form__input" type="text" formControlName="itemUrl">
  </label>

  <div class="game-form__button-wrapper">
    <button class="button" type="submit" [disabled]="formGroup.pristine || !formGroup.valid">{{ buttonCaption }}</button>
  </div>

</form>

<img class="game-image" [src]="formGroup.get('previewImageUrl')?.value">