// RWD
@use "../../../styles/_mixins.scss" as mixins;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.game-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 600px;

  .game-form__label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 14px;
    .game-form__title {
      width: 80px;
      color: var(--c-text-soft);
    }
  }
  .game-form__button-wrapper {
    margin-top: auto;
    display: flex;
    width: 100%;
    gap: 12px;
  }
}
.game-image {
  margin: 16px 0;
  width: 600px;
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.18);
}

@include mixins.respond-mobile {
  .game-form {
    width: 300px;

    .game-form__label {
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;

      .game-form__title {
        width: auto;
      }
    }
  }

  .game-image {
    width: 300px;
    height: 200px;
  }
}
