<header class="header">
  <div class="header__inner">
    <span class="header__title">Indie games</span>
    <nav class="nav">
      <a
        class="nav__item"
        routerLink="/game-list"
        routerLinkActive="router-link-active"
        >Games</a
      >
      <a
        class="nav__item"
        routerLink="/game-add"
        routerLinkActive="router-link-active"
        >Add new game</a
      >
    </nav>
  </div>
</header>

<main class="main-container" role="main">
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <a
    class="footer__link"
    href="https://github.com/daxtersky/ng-indie-games"
    target="_blank"
    rel="noopener"
    >project repo</a
  ><a
    class="footer__link"
    href="https://github.com/mikizuk"
    target="_blank"
    rel="noopener"
    >Github profile</a
  >
</footer>
