// RWD

@media screen and (max-width: 767px) {
  // .card-container > *:not(.circle-link),
  // .terminal {
  //   width: 100%;
  // }

  // .card:not(.highlight-card) {
  //   height: 16px;
  //   margin: 8px 0;
  // }

  // .card.highlight-card span {
  //   margin-left: 72px;
  // }

  // svg#rocket-smoke {
  //   right: 120px;
  //   transform: rotate(-5deg);
  // }
}

@media screen and (max-width: 575px) {
  // svg#rocket-smoke {
  //   display: none;
  //   visibility: hidden;
  // }
}

// HEADER

:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  padding: 0 16px;

  .header__title {
    font-size: 24px;
    text-decoration: solid;
    text-transform: uppercase;
    color: #ffe721;
    font-weight: 800;
  }

  .nav {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: auto;
    .nav__item {
      align-items: center;
      display: flex;
      color: #ffe721;
      padding: 16px;
      text-decoration: none;
      font-size: 16px;
      font-weight: 600;
      border-radius: 4px;
      &:hover {
        cursor: pointer;
        color: red;
        text-decoration: underline;
        border: 2px solid red;
      }
    }
  }
}

// MAIN

.main-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}

// FOOTER

.footer {
  margin-top: auto;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  padding: 0 16px;
  font-weight: 600;
  .footer__link-item,
  .footer__link-title {
    color: #ffe721;
  }
  .footer__link-item {
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      text-decoration: underline;
      color: red;
    }
  }
}

.svg-clouds {
  position: fixed;
  bottom: -160px;
  // left: -230px;
  z-index: -10;
  width: 1920px;
}
