// HEADER

:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  position: sticky;
  top: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  padding: 0 16px;

  .header__title {
    font-size: 24px;
    text-decoration: solid;
    text-transform: uppercase;
    color: #ffe721;
    font-weight: 800;
  }

  .nav {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: auto;
    .nav__item {
      align-items: center;
      display: flex;
      color: #ffe721;
      padding: 16px;
      text-decoration: none;
      font-size: 16px;
      font-weight: 600;
      border-radius: 4px;
      &:hover {
        cursor: pointer;
        color: darken($color: #e71313, $amount: 15);;
        text-decoration: underline;
      }
    }
  }
}

// MAIN

.main-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}

// FOOTER

.footer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin: 10px;
  font-weight: 600;
  .footer__link-item,
  .footer__link-title {
    color: #ffe721;
  }
  .footer__link-item {
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      text-decoration: underline;
      color: #e71313;
    }
  }
}

.svg-clouds {
  position: fixed;
  bottom: -160px;
  // left: -230px;
  z-index: -10;
  width: 1920px;
}

// RWD
@import './../../../rwd.scss';