* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family:  "Segoe UI Emoji", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d5d5da;
}

// SHARED

.button-container {
  display: flex;
  width: 600px;
  justify-content: flex-end;
}
.button {
  height: 40px;
  width: 120px;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid darkblue;
  border-radius: 4px;
  color: darkblue;
  background-color: white;
  &:not(:disabled):hover {
    cursor: pointer;
    color: #e71313;
    text-decoration: underline;
    border: 2px solid #e71313;
  }
  &:disabled {
    color: grey;
    border: 2px solid grey;
    opacity: 0.5;
  }
}
.button--far-left {
  margin-right: auto;
}

// RWD
@import './rwd.scss';